data/
venv/
helper
try_nltk.py
__pycache__/
filtered_mess.txt
text_tone.log
config.ini
session.txt
filtered_analytical.txt
filtered_sadness.txt
filtered_joy.txt
filtered_anger.txt
filtered_unrecognized.txt
filtered_confident.txt
filtered_fear.txt
filtered_tentative.txt